body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #fff;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#articlesContainer {
  width: 80%;
}

.card {
  background: linear-gradient(135deg, #0d6efd, #ffc107);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  transition: all 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.details p {
  margin: 5px 0;
}

.details .title,
.details .author,
.details .source,
.details .date {
  font-size: 1.2em;
}

.summary {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  font-size: 1.1em;
  line-height: 1.5;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9em;
  color: #ccc;
}

.footer a {
  color: #ffc107;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.button {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 20px;
}

.button:hover {
  background-color: #007bff;
}

.editor {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 60px;
  border-radius: 10px;
  width: 300px;
  display: none;
  color: white;
}

.editor input {
  width: 100%;
  padding: 30px;
  margin: 10px 0;
  background-color: #333;
  color: white;
  border: 1px solid #444;
  border-radius: 5px;
}

.editor button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.editor button:hover {
  background-color: #218838;
}

/* Bouton Supprimer */
.delete-button {
  background-color: #dc3545; /* Rouge pour la suppression */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5
}